* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fugaz One', cursive;
}


.nav { 
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}


.nav ul li { 
    list-style: none;
    margin: 25px;
}

.list {
    display: flex;
}

.logo { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero { 
    background: #155263;
    color: #fff;
}

.h1 { 
    padding: 4rem;
}

.h1 h2 { 
    font-size: 36px;
}

h1 {
    font-size: 105px;
}

.h1_button {
    background: #c66912;
    border: none;
    padding: 15px 122px;
    margin-top: 20px;
    color: #fff;
    border-radius: 10px;
} 

.mission { 
    gap: 2rem;
    display: flex;
    padding: 5rem;
    background: #FFF4D9;
}

.mission-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission h2 { 
    color: #c66912;
}

.mission p { 
    font-size: 25px;
    color: #0C4B5C;
}

.mission img {
    border-radius: 3rem;   
}

.why-visit { 
    color: white;
    padding: 1rem;
    background: #155263;
}

.visit {
    margin-top: 1rem;
    display: flex;
    margin-bottom: 4rem;
    
}

.visit-card {
    gap: 3rem;
    background: #01313F;
    margin: 10px;
    padding: 1rem;
    border-radius: 10px;
}

.discover-section { 
    padding: 2rem;
    background: #FFF4D9;
    display: flex;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    max-width: 45%;
}

.image-grid img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
}

.image-grid img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.text-content h2 { 
    font-size: 50px;
}

.text-content button { 
    border: none;
    margin-top: 1rem;
    background: #C66912;
    color: white;
    padding: 10px 80px;
    border-radius: 10px;
}

.footer {
    background-color: #1f4b5c;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-brand {
    display: flex;
    align-items: center;
   justify-content: center;
   text-align: center;
}

.footer-brand img {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
} 

.footer-logo {
    width: 40px;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-links div {
    display: flex;
    flex-direction: column;
}

.footer-links h3 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 20px;
}

.footer-bottom-links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}